.App {
  text-align: center;
}

.testimonial::-webkit-scrollbar {
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

pre {
  border-radius: 10px !important;
}
code {
  text-shadow: none !important;
  /* color: white !important; */
}

/* p {
  @apply text-lg text-white/80;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  scroll-behavior: smooth !important;
}

.custom-shadow {
  box-shadow: 0 -1px 50px -12px #79c942;
}

.disc > li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

* {
  font-family: "Lato", sans-serif;
}

.image-card-row {
  display: flex;
  justify-content: space-between;
}

.image-card {
  width: 20%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
}

.image-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  color: white;
  /* background-image: url("https://skandashield.com/assets/img/intelligent.png"); */
}

.card-content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-card:hover .card-content {
  opacity: 1;
}

.card-content h3 {
  margin-bottom: 8px;
}

.card-content p {
  margin-bottom: 16px;
}

.card-content button {
  background-color: #79c942;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.card-content button:hover {
  background-color: #609130;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ims {
  overflow: hidden;
  transition: transform 0.3s;
}

.ims:hover {
  transform: scale(1.1);
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

/* .card:hover .card__overlay {
  transform: translateY(0);
} */

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: #081226;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

/* .card:hover .card__header {
  transform: translateY(0);
} */

.card__thumb {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}


.glow-button {
  box-shadow: 0 0 5x cyan, 0 0 25px cyan;
}

.glow-button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 25px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.gradient-text-green {
  background-image: linear-gradient(
    to right,
    #79c942,
    #00ffa3
  ); /* Adjust the colors as needed */
  -webkit-background-clip: text;
  color: transparent;
}

.glow-but {
  box-shadow: 0 0 5x cyan, 0 0 25px cyan;
}

.glow-but:hover {
  box-shadow: 0 0 5px #79c942, 0 0 25px cyan, 0 0 25px cyan, 0 0 50px cyan,
    0 0 50px cyan;
}

/* bg css */

@keyframes expand-arrows {
  0% {
    transform: scale(0) skew(-15deg, -15deg) rotate(-20deg);
  }
  100% {
    transform: scale(var(--arrow-scale)) skew(-15deg, -15deg) rotate(-20deg);
  }
}

/* button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
} */


.Hero-container {
  background: #1b3259;
  overflow: hidden !important;
  
}

.arrow {
  position: absolute;
  left: -15vmax;
  bottom: -25vmax;
  display: block;
  width: 36vmax;
  height: 35vmax;
  --arrow-scale: 1;
  background: #004b8d;
  
  box-shadow: 0 0 7vmax rgba(50, 50, 50, 0.2);
  z-index: 5;
 
}

.arrow{
  animation: expand-arrows 4s forwards;
}

.arrow:nth-child(2) {
  --arrow-scale: 2;
  background: #004b8d;
  z-index: 4;
}

.arrow:nth-child(3) {
  --arrow-scale: 3;
  background: #004b8d;
  z-index: 3;
}

.arrow:nth-child(4) {
  --arrow-scale: 4;
  background: #004b8d;
  z-index: 2;
}

.arrow:nth-child(5) {
  --arrow-scale: 5;
  background: #004b8d;
  z-index: 0;
}

